
<<<<<<< HEAD
=======
#splash {
	background-image:
    url("img/lonely.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  height: 700px;
}

.logo {
	text-align: center;
}

>>>>>>> c527897e513cd3f4dce79ad23737a4a6576f99c7
#page3 {
  margin-top:15%;
}

.sad-question {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#cultstuff li {
  font-size: 35;
}
