html, body {

}

#page2 {
  margin-top:15%;
  margin-bottom: 20%;
}

.sad-question {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.yes-button {
  padding: 1rem 4rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: transparent;
  background: rgba(35, 84, 150, 1);
  color: #fff;
  transition: all 0.3s;
  &:hover {
    background:rgba(35, 84, 150, 0.8);
  }
}