#splash {
	background-image:
    url("img/man.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  height: 700px;
}

.logo {
	text-align: center;
}